<br>
<button id=principal (click)=" onSortPrograms()" class="az-button">Ordenar A-Z</button>
<br>

<label for="searchTerm">Buscar por titulo: </label> 
<input [(ngModel)]="searchTerm" type="text" id="searchTerm">
<button type="button" (click)="searchByTerm()" class="search-button">buscar</button>
<!--{{searchTerm}}-->
<h3>Agregar programa</h3>
<div>
  <form>
    <label for="id">ID:</label>
    <input type="text" id="id" name="programId" [(ngModel)]="programId">
  
    <label for="title">Título:</label>
    <input type="text" id="title" name="programTitle" [(ngModel)]="programTitle" required>
    
  
    <label for="image">URL de la imagen:</label>
    <input type="text" id="image" name="programImage" [(ngModel)]="programImage" required>
    
    <button type="submit" (click)="createProgram()" class="add-button">Agregar Programa</button>
  </form>  
  
  </div>

  <div *ngIf="isEditing">
    <h3>Editar programa</h3>
    <form>    
      <label for="title">Título:</label>
      <input type="text" id="updateTitle" name="updateTitle" [(ngModel)]="updateTitle" required>
    
      <label for="image">URL de la imagen:</label>
      <input type="text" id="updateImage" name="updateImage" [(ngModel)]="updateImage" required>
    
      <button type="button" (click)="updateProgram()" class="update-button">Actualizar</button>
    </form>
    

  </div>
  
  


<ul>
    <!--<li *ngFor="let nombre of nombres">{{nombre}}</li>-->
     
    <app-program *ngFor="let program of programs" [program]="program" 
    (editarProgramaClick)="abrirFormularioEdicion($event)"></app-program>
    
</ul>

